#body{
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    width: 100%;
    height: 100%;
    background-size:contain;
    display: flex;
    justify-content: center;
    border: 20px solid black;
    padding: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-container{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    transform: scale(0.7);
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(199, 137, 66);
    cursor: pointer;
}

.box-container h1{
    position: absolute;
    top:60px ; left: 80px;
    -webkit-box-reflect: below 25px linear-gradient(transparent,rgb(218, 50, 50));
    outline: none;
    line-height: 0.7em;
}
 .card{
    background:url('https://wallpaperaccess.com/full/3239480.jpg') no-repeat center/contain;
    width: 350px;
    height: 200px;
    border-radius: 50px;
    margin: 20px;
    /* aspect-ratio: 1/0.7; */
    border: 3px solid rgb(108, 29, 29); 
 }
 .card .box-container{
    width: 100%;
    height: 100%;
    border-radius: inherit;
 }
.card .box-container{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    /* object-position: 50% 90%; */
    border-radius: inherit;
    transition: 0.5s ease-in-out; 
}
.content h2,.content p{
 opacity: 0;
 transition: 0.4s 0.2s ease;
}

.content h2{
    font-size: 25px;
    color: beige;
    text-align: center;
}
.content p{
    font-size: 15px;
    line-height: 1.5;
    color: #e0ece0;
    transform: translateY(50%);
    text-align: center; 
    position:relative;
    left: 120px;
    border: 1px solid rgb(242, 240, 239);
    background-color:9999px;
    border-radius: 30px;
    width: 130px;
    cursor:progress;
}
.card:hover .content h2{
    scale: 1;
    opacity: 1;
}
.card:hover .content p{
    opacity: 1;
    transform: translateY(0);
}